/* 
  * reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
  * @author xiang
*/

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* 结构元素 */
dl, dt, dd, ul, ol, li, /* 列表元素 */
pre, /* 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* 表单元素  */
th, td /* 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body, button, input, select, textarea {
    font: 1rem '微软雅黑','黑体', Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, button, input, select, textarea { font-size: 100%;}

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a, a:hover { text-decoration: none; }

/** 重置表单元素 **/
button { cursor: pointer; }
input { font-size: 1rem; outline: none; }

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/*
  * 图片自适应 
  * 1. 清空浏览器对图片的设置
  * 2. <div>图片</div> 的情况下，图片会撑高 div，这么设置可以清除该影响
*/
img { border: 0; display: inline-block; width: 100%; max-width: 100%; height: auto; vertical-align: middle; }

/* 
  * 默认box-sizing是content-box，该属性导致padding会撑大div，使用border-box可以解决该问题
*/
div, input { box-sizing: border-box; }

/** 清除浮动  **/
.clear:after, .clear:after {  content: '\20';display: block;height: 0;clear: both;  }

 /* IE6下清除浮动 */
.clear {  *zoom: 1; }

.hidden {display:none !important;}

/** 设置input的placeholder **/
input::-webkit-input-placeholder { color: #919191; font-size: 1rem } /* Webkit */
input::-moz-placeholder { color: #919191; font-size: 1rem } /* Firefox */
input::-ms-input-placeholder { color: #919191; font-size: 1rem } /* IE */

@media screen and (min-width:1024px){html{font-size:17px;}}/* PC */
@media screen and (max-width:800px){html{font-size:16px;}} /* 普通平板 */
@media screen and (max-width:414px){html{font-size:15px;}} /* 苹果6P7P8PXRXMAX */
@media screen and (max-width:375px){html{font-size:15px;}} /* 苹果678X */
@media screen and (max-width:360px){html{font-size:14px;}} /* 三星S5 */
@media screen and (max-width:320px){html{font-size:12px;}} /* 苹果5 */
/* <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"> */
